@font-face{
    font-family: Gumela;
    src:url('Gumela Regular.otf');
}

*{
    font-family: 'Gumela';
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
 #preloader{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    background-color: #0c012b;
    display: grid;
    place-items:center;
} 

.typewriter h1 {
  color: #00ffaa;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #00ffaa; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 1.4s steps(20, end),
    blink-caret .3s step-end infinite;
    font-size:1.6rem;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff}
}
  nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 60px 0px 70px;
   background-color: #0c012b;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 48%);
    position: sticky;
   height: 65px;
   width: 100%;
    top: 0;
    z-index: 3;
  }
  nav .logo{
    color: white;
    font-size: 33px;
    font-weight: 600; 
    padding: 2px 10px;
    cursor: pointer;
  }
  nav .logo .name2{
      color: #00ffaa;
  }
  nav ul{  
     float: right;
      list-style: none;
      display: flex;

  }
  nav ul li{
    margin: 0px 5px;
  }
  nav ul li a{
      
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    transition: all 0.3s ease;
  }
    nav ul li a:after{
   content: "";
   position: absolute;
   background-color: #00ffaa;
   height: 2px;
   width: 0;
   left: 0;
   bottom: -1px;
   transition: 0.3s ease;
  }
  nav ul li a:hover{
    color:#00ffaa;
  }
  nav ul li a:hover:after{
      width: 100%;
  }
  #icon{
      position: absolute;
      top: 15px;
      right: 15px;
      width: 30px;
      height: 30px;
      color: #00ffaa;
      background: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;
  }
  #icon::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #00ffaa;
    transform: translatey(-10px);
    right: inherit;
    transition: .4s;
  }
  #icon::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    right: inherit;
    background: #00ffaa;
    box-shadow: 0 10px 0 0;
    transition: .4s;
}
.active#icon::before{
    transform: rotate(45deg);
}
.active#icon::after{
    transform: rotate(-225deg);
    box-shadow: none;
}


#home{ 
    height: 780px;
    background: #0c012b;
}
#home img{
    width: 100%;
    height: 550px;
}
 #home::before{ 
    content:"";
    position: absolute;
    top: 0;
    right: 0;
     background-color: #0c012b;
    height: 768px;
   width: 100%;
 
} 
.cont{
    position: absolute;
    z-index: 1;
    top: 230px;
    left: 160px;
    width: fit-content;
}
.samp{
    position: absolute;
    z-index: 2;
    right: 250px;
    top: 120px;
}

.shivam{
    color: #00ffaa;
}
#icons ul li{
    margin-top: 150px;
    }

    #icons ul{
        justify-content: left;
        }
#h2{
    font-size: 2rem; 
    color: rgba(255, 255, 255, 0.466);
}
 #heads{
color: white;
font-size: 4rem;
}
.headings{
    font-size: 3rem;
    text-align: center;
    margin:75px 35px;
    color: white;
   line-height: 0.1rem;
}
.headings::before{
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background: #00ffaa38;;
    left: 300px;
    position: absolute;
}
.headings::after{
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background: #00ffaa38;;
    right: 300px;
    position: absolute;
}

 .buttons{
margin:25px 20px 0px 0px;
padding: 10px 35px;
font-size: 17px;
background-color:#00ffaa;
border: 2px solid #00ffaa;
border-radius: 5px;
color: #0c012b;
outline: none;
transition: .5s ease;

}
.buttons:hover{
    cursor: pointer;
    background-color:transparent;
    color: #00ffaa;
    font-weight: bold;
   
}
#home.social-menu ul li{
  margin-top: 20px;
 padding: 50px 0 50px;
}
#about{
    height: 800px;
    display: flex;
    flex-direction:column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: #0c012b;
}
.aboutcontent{
    width: 1084px;
    display: flex;
    justify-content: space-between;
}
#ab{
    color: white;
    position: relative;
    left: 50px;
    top :40px;
}
#ab::before{
    content: none;
}
#ab::after{
    width: 150px;
   left:220px;
}
#pic{
    position: absolute;
    z-index: 2;

}
.square{
    position: absolute;
    z-index: 1;
    border: 3px solid #00ffaa;
    height: 350px;
    width: 350px;
    background-color: transparent;
    margin: 29px 0px 0px 23px;
}
#pic img{
    width: 350px;
    height: 350px;
  border: 1px solid #00ffaa;

}
.pict{
      filter: grayscale(50%); 
}
.layer{
    width: 100%;
    position: absolute;
    top: 0;
    border-bottom: 2px solid #00ffaa;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}
#pic:hover .layer{
    max-height: 350px;
    cursor: pointer;
}
#para{  
    display: flex;
    flex-direction: column;
    position: relative;
    width: 600px;
    left: 485px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.767);
}
#para .para1{
 padding-bottom: 25px;

 color: #00ffaa;
}
#para .buttons{
    width: 125px;
}
#para p span,a{
    color: #00ffaa;
    text-decoration: none;
}
.list1 ul{
    color: #fff;
    margin: 20px 0px 0px 20px;
    position:absolute;
}
.list1 ul li{
  list-style: disc;
  
}
.list2 ul{
    color: #fff;
    padding-top: 20px;
}
.list2 ul li{
  list-style: disc;
  position: relative;
 left: 215px;
 width: 0;
  
  
}

#projects{
    padding: 20px;
    height: 1500px;
    background-color: #0c012b;
}
#proheading::before{
    width: 150px;
    left: 280px;
}
#proheading::after{
    width: 150px;
    right: 280px;
}
.desc{
    color: rgba(255, 255, 255, 0.671);
    text-align: center;
    margin: 60px 10px;
}
.projectwork{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project1{
width: 849px;
margin-right: 365px;
}
.proimage{
    background-color: #00ffaa80;
    height: 250px;
    width: 500px;
    position: absolute;
    margin: 20px;
    border-radius: 5px;
    opacity: 0.5;
}
.project1 img{
    height: 250px;
    width: 500px;
    position: absolute;
    border-radius: 5px;
    opacity: 0.7;
    box-shadow:  0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0), 0 0 15px black;
}
.projcont{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 475px;
    height: 270px;
    width: 350px;
}
.proname{
    text-align: right;
    margin-right: 30px;
    color: #00ffaa;
margin: 5px 0px 5px 0px;
}
.mainpro{

font-size: 20px;
color: white;

}
.aboutproj{
    background-color: #00ffaa1c;
    text-align: center;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.788);
     backdrop-filter: blur(20px);
     border: 1px solid rgba(255, 255, 255, 0.1);
}
.aboutproj p{
    padding: 40px 10px;
}
.technologies{
    margin: 20px 0px 10px 0px;
    text-align: right;
    color: #00ffaa;
    word-spacing: 10px;
}
.icon ul{
    display: flex;
    list-style: none;
    justify-content: right;
    column-gap: 10px;
}
.icon ul li .fa,.fas{
    font-size: 20px;
    line-height:30px;
    transition:.6s;
    color:#00ffaa;
}
.icon ul li .fa:hover,.fas:hover{
    color:#fff;
}
.icon ul li a{
    display: block;
    width:30px;
    height:30px;
    border-radius:50%;
    text-align:center;
    transition:.6s;
    box-shadow:0.5px 4px rgba(55, 57, 58, 0);

}
.icon ul li:nth-child(1) a:hover{
    background-color:transparent;
}
.icon ul li:nth-child(2) a:hover{
    background-color:transparent;
}
#project2{
margin-left: 365px;
margin-right: 0px;
  position: relative;  
        top: 120px;
}
.proimage2{
    background-color: #00ffaa80;
    float: right;
    position: relative;
    opacity: 0.5;
}
#project2 img{
    float: right;
    position: relative;
    opacity: 0.7;
}
#projcont2{
    position: absolute;
    left: 50px;
    right: 475px;       
}
#proname2{
    text-align: left;
    margin-left: 30px;
margin: 5px 0px 5px 0px;
}
#aboutproj2{
    border-radius: 5px;
    right: 475px;
}
#aboutproj2 p{
    height: 150px;
    width: 350px;
    padding: 40px 10px 40px 10px;
}
#technologies2{
    margin: 20px 0px 10px 0px;
    text-align: left;
}
#icon2 ul{
    justify-content: left;
}
#project3{
    position: relative;
    top: 200px;
}

#achievements{
    justify-content: center;
    height: 1000px;
    background-color: #0c012b;
}

#achieveheading{
    padding: 100px 0px 0px 0px;
    margin-top: -22px;
    font-size: 2rem;
    margin-bottom: 40px;
}
#achieveheading::before{
    width: 150px;
    left: 280px;
}
#achieveheading::after{
    width: 150px;
    right: 280px;
}
#skills{
    justify-content: center;
    height: 800px;
    background-color: #0c012b;
}
#skillheading{
    padding: 100px 0px 0px 0px;
    margin-top: -120px;
}
#skillheading::before{
    width: 150px;
    left: 400px;
}
#skillheading::after{
    width: 150px;
    right: 400px;
}
.aboutskills{
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.671);
    text-align: center;
}
.progress{
    height: auto;
    display: grid;
    place-items: center;
}
.skills-content{
     border-radius: 10px;
     background-color: #00ffaa1c;
      backdrop-filter: blur(20px);
      border: 1px solid rgba(255, 255, 255, 0.1);

}
.skills .skills-content .column{
    width: calc(50% - 30px);
    color: #fff;
}
.skills .skills-content .right{
 padding: 30px;
 width: 600px;
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;

}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #00ffaa;
}
.skills-content .right .html::before{
    width: 70%;
}
.skills-content .right .css::before{
    width: 50%;
}
.skills-content .right .JavaScript::before{
    width: 20%;
}
.skills-content .right .Python::before{
    width: 60%;
}
.skills-content .right .MySQL::before{
    width: 55%;
}
.skills-content .right .C::before{
    width: 75%;
}

#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
   background-color: #0c012b;
    padding: 15px;
    height: 675px;
}
#conheading{
    margin: 130px 0px 60px 0px;
}
#conheading::before{
    width: 150px;
    left: 375px;
}
#conheading::after{
    width: 150px;
    right: 375px;
}
.aboutcont{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.671);
    word-spacing: 2px;
    letter-spacing: 0.5px;
}
.aboutcont p{ 
      width: 550px;  
}
.mailbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btn4{
    margin: 25px 0px 0px 0px;
}
.footer{
    color: rgba(255, 255, 255, 0.671);
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
   align-items: center;
   text-align: center;
}
.footer p{
    width: 550px;
    font-size: 0.9rem;
    word-spacing: 2px;
    letter-spacing: 0.5px;
}
#count{
    font-size: 10px;
    margin: 5px;
}
.social-menu ul{
    display: flex;
    justify-content: center;
     box-sizing: border-box;
}
.social-menu ul li{
    list-style:none;
    margin:100px 12px 10px 12px;
 
}
.social-menu ul li .fa{
    font-size: 30px;
    line-height:40px;
    transition:.6s;
    color:#00ffaa;
}
.social-menu ul li .fa:hover{
    color:#fff;
}
.social-menu ul li a{
    display: block;
    width:40px;
    height:40px;
    border-radius:50%;
    text-align:center;
    transition:.6s;
    box-shadow:0.5px 4px rgba(58, 55, 55, 0);

}
.social-menu ul li a:hover{
    transform:translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover{
    background-color:#000000;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color:#55acee;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color:#e4405f;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color:#0077b5;
}
.social-menu ul li:nth-child(5) a:hover{
    background-color:#4267B2;
}


 @media(max-width:786px){
    nav{
        padding: 0px 30px 0px 20px;
    }
    nav .logo{
     font-size: 20px;
     font-weight: 300;
    
   }
   #icon{
       display: flex;
   }
   #menu ul{
       position: fixed;
       top: 0px;
       right: -100%;
       background:rgba(0, 0, 0, 0.6);
      text-align: center;
        display: block;
      transition: all 0.3s ease;
    }
  .active#menu ul{
    top: 0px;
    right: 0px;
    width: 60%;
    background-color: #0e0130;
    z-index: -10;
    padding-top: 65px;
  }
  .active#menu ul li a{
    margin-right: 0px;
  }
   #menu ul li{
     width: 100%;
     margin: 30px 0px;
   }
   #menu ul li a{
       width: 100%;
       margin-right: -100%;
       display: block;
     font-size: 15px;
     transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .hoom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #home img{
        width: 100%;
        height: 350px;
    }
     #home::before{ 
        content:"";
        position: absolute;
        top: 0;
        right: 0;
      
         background-color: #0c012b;

        background-size: cover; 
        height: 768px;
       width: 100%;
 
    } 
    .cont{
        left: 60px;
    }
    .samp{
        right: 100px;
    }
    #icons ul li{
        margin-top: 100px;
        }
    #h2{
        font-size: 1.5rem; 
    }
     #heads{
    font-size: 3rem;
    }
    .headings{
        font-size: 2rem;
        margin:75px 35px;
    }
    .headings::before{
        width: 100px;
        left: 200px;
    }
    .headings::after{
        width: 150px;
        right: 300px;
    }
     #btn{
    padding: 8px 20px;
    }
    #home.social-menu ul li{
      margin-top: 20px;
     padding: 30px 0 30px;
    }
    #about{
        padding: 20px;
    }
    .aboutcontent{
        width:auto;
    }
    #ab{
        left: 50px;
        top :40px;
    }
    #ab::after{
        width: 150px;
       left:145px;
    }
    .square{
        height: 200px;
        width: 200px;
        margin: 15px 0px 0px 15px;
        left: 20px;
    }
    #pic{
        left: 20px;
    }
    #pic img{
        width: 200px;
        height: 200px;
    }
    #pic:hover .layer{
        max-height: 350px;
    }
    #para{  
        width: 400px;
        left: 165px;
        font-size: 15px;
    }
    #para .para1{
     padding-bottom: 25px;
    }
    #para .text{
        width: 120px;
    }
    .list1 ul{
        margin: 20px 0px 0px 20px;
    }
    .list2 ul{
        padding-top: 20px;
    }
    .list2 ul li{
     left: 130px;
    }
    #projects{
        padding: 20px;
        height: 1500px;
    }
    #proheading::before{
      display: none;
    }
    #proheading::after{
     display: none;
    }
    .desc{
        margin: 60px 10px;

    }
    
    .project1{
    width: 375px;
    }
    .proimage{
        height: 175px;
        width: 345px;
    }
    .project1 img{
        height: 175px;
        width: 345px;
    }
    .projcont{
        left: 325px;
        height: 270px;
        width: 300px;
    }
    .proname{
        margin-right: 30px;
    margin: 5px 0px 5px 0px;
    }
    .mainpro{
    font-size: 20px;  
    }
    .aboutproj p{
        padding: 15px 10px 15px 10px;
    }
    .technologies{
        margin: 20px 0px 10px 0px;
    }
    .icon ul li .fa,.fas{
        font-size: 20px;
        line-height:30px;
    }
    .icon ul li a{
        width:30px;
        height:30px;
    }
    #project2{
    margin-left: 365px;
    margin-right: 0px; 
            top: 60px;
    }
    #projcont2{
        left: -228px;
        right: 475px;  
    }
    #proname2{
        margin-left: 30px;
    margin: 5px 0px 5px 0px;
    }
    #aboutproj2{
        right: 475px;
    }
    #aboutproj2 p{
        height: 115px;
        width: 300px;
        padding: 15px 10px 15px 10px;
    }
    #technologies2{
        margin: 20px 0px 10px 0px;    
    }
    #project3{
        top: 180px;
    }
    #skills{
        height: 700px;
    }
    #skillheading{
        padding: 100px 0px 0px 0px;
        margin-top: -120px;
    }
    #achieveheading{
        padding: 100px 0px 0px 0px;
        margin-top: -22px;
        font-size: 2rem;
        margin-bottom: 40px;
    }
    #achieveheading::before{
     display: none;
    }
    #achieveheading::after{
      display: none;
    }
    #skillheading::before{
        width: 150px;
        left: 165px;
    }
    #skillheading::after{
        width: 150px;
        right: 165px;
    }
    .skillname{
        margin: 7px 5px 5px 15px;
    
    }
    .aboutskill{
        font-size: 10px;
    }
    .aboutskills{
        margin-bottom: 50px;
    }
    .progress{
        height: auto;
    }
    .skills .skills-content .right{
     padding: 30px 30px 30px 30px;
     width: 600px;
    }
    .skills .skills-content .left .text{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    
    }
    .skills .skills-content .right .bars{
        margin-bottom: 15px;
    }
    .skills .skills-content .right span{
        font-weight: 500;
        font-size: 18px;
    }
    .skills .skills-content .right .line{
        height: 5px;
    }
    
    #contact{
        padding: 15px;
        height: 670px;
    }
    #conheading{
        margin: 130px 0px 60px 0px;
        font-size: 2.5rem;
    }
    #conheading::before{
       display: none;
    }
    #conheading::after{
        display: none;
    }
    .aboutcont{
     word-spacing: 2px;
        letter-spacing: 0.5px;
    }
    .aboutcont p{
          width: 550px;
          
    }
    .footer{
        top: 90px;
    }
    .footer p{
        width: 550px;
        font-size: 0.9rem;
        word-spacing: 2px;
        letter-spacing: 0.5px;
    }
    .social-menu ul li{
        margin:100px 12px 10px 12px;
     
    }
    .social-menu ul li .fa{
        font-size: 30px;
        line-height:40px;
    }
    .social-menu ul li a{
        width:40px;
        height:40px;
    
    } 

      @media(max-width:480px){ 

        nav{
            padding: 0px 30px 0px 20px;
        }
        nav .logo{
         font-size: 20px;
         font-weight: 300;
        
       }
       #icon{
           display: flex;
       }
       #menu ul{
           position: fixed;
           top: 0px;
           right: -100%;
           background:rgba(0, 0, 0, 0.6);
          text-align: center;
            display: block;
          transition: all 0.3s ease;
        }
      .active#menu ul{
        top: 0px;
        right: 0px;
        width: 60%;
        background-color: #0e0130;
        z-index: -10;
        padding-top: 65px;
      }
      .active#menu ul li a{
        margin-right: 0px;
      }
       #menu ul li{
         width: 100%;
         margin: 30px 0px;
       }
       #menu ul li a{
           width: 100%;
           margin-right: -100%;
           display: block;
         font-size: 15px;
         transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
      #home{
          height: 500px;
      }
      #home img{
          width: 260px;
          height: 350px;
         opacity: 0.3;
      }
      .cont{
          left: 20px;
          z-index: 1;
      }
      .samp{
           z-index: 0;
          right: 2px;
      }
      #icons ul li{
          margin-top: 100px;
          }
      #h2{
          font-size: 1.4rem;
          width: 250px;
          font-weight: 600; 
      }
       #heads{
      font-size: 2.4rem;
     font-weight: 800;
      }
      .headings{
          font-size: 1.5rem;
          margin:75px 35px;
      }
      .buttons{
          margin: 25px 20px 0px 0px;
          padding: 10px 17px;
          font-size: 17px;
          color: #00ffaa;
          border-radius: 5px;
          background-color: transparent;
          border: 1px solid #00ffaa;
      }
      .buttons:hover{
          background-color: #00ffaa;
          color: #0c012b;
      }
      #home.social-menu ul li{
        margin-top: 20px;
       padding: 30px 0 30px;
      }
      #about{
          height: 1050px;
          display: flex;
          flex-direction: column;
          padding: 20px;
      }
      .aboutcontent{
          width: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      #ab{
          left: -80px;
          margin-bottom: 50px;
          font-size: 2rem;
      }
      #ab::after{
          width: 150px;
          height: 1px;
         left:150px;
      }
      .square{
          height: 200px;
          width: 200px;
          margin: 29px 0px 0px 23px;
          position: relative;
          top:280px;
          left: 0px;
      }
      #pic{
          position: relative;
          top: 500px;
          left: 0px;
      }
      #pic img{
          width: 200px;
          height: 200px;
      }
      #pic:hover .layer{
          max-height: 200px;
      }
      #para{  
          width: 300px;
          left: 0px;
          top: -400px;
      }
      #para .buttons{
          display: none;
      }
      #projects{
          height: 1800px;
      }
      #proheading::before{
        display: none;
      }
      #proheading::after{
         display: none;
      }
      .desc{
          font-size: 15px;
      }
      .project1{
          width: auto;
          margin-right: 0px;
      }
      .proimage{
          height: 400px;
          width: 300px;
          opacity: 0.3;
          margin: 0px;
      }
      .project1 img{
          height: 400px;
          width: 300px;
          position: absolute;
          opacity: 0.3;
          margin: 0px;
      }
      .projcont{
         padding: 20px;
          height: 400px;
          width: 300px;
          left: 0px;
      }
      .proname{
      font-size: 15px;
      }
      .aboutproj{
          text-align: right;
          background-color: transparent;
          backdrop-filter: blur(0px);
          border: none;
      }
      .aboutproj p{
          font-size: 15px;
          padding: 40px 0px;      
      }
      .technologies{
          font-size: 12px;
      }
     .icon{
       display:flex;
       justify-content:right;
       }
       #icon2{
       display:flex;
       justify-content:left;
       }
      #project2{
          top: 100px;
      margin-left: 0px;
      margin-right: 0px; 
      }
      #project2 img{
         opacity:0.3;
      }
      .proimage2{
          opacity: 0.3;
      }
      #projcont2{
         left: 0;
         right: 0;
      }
      #aboutproj2{
          right: 0px;
          text-align: left;
      }
      #aboutproj2 p{
          width: 250px;
          padding: 40px 0px;
      }
      #technologies2{
          margin: 80px 0px 10px 0px;   
      }
      #project3{
          top: 200px;
      }
      #skills{
          height: 750px;
      }
      #achievements{
      height:900px;
      }
      #achieveheading{
          margin: -22px 0px 0px 0px;
          font-size: 1.4rem;
          margin-bottom: 40px;
      }
      #achieveheading::before{
         display: none;
      }
      #achieveheading::after{
        display: none;
      }
      #skillheading::before{
          width: 60px;
          height: 1px;
          left:30px;
      }
      #skillheading::after{
          width: 60px;
          right: 30px;
          height: 1px;
      }
      .aboutskills{
          margin-bottom: 30px;
          font-size: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      .aboutskills p{  
        width: 250px;
      }
      .skills-content{
          width: 300px;
      }
      .skills .skills-content .right{
       padding: 10px 0px 10px 0px;
       width: auto;
      }
      .skills .skills-content .right span{
          font-size: 15px;
      }
      .skills .skills-content .right .line{
          width: auto;
          margin: 0 20px;
      }
      .skills .skills-content .right .info{
       padding: 20px 20px 0px 20px;

      }

    #conheading{
          font-size: 2.5rem;
      }
      #conheading::before{
          display: none;
      }
      #conheading::after{
         display: none;
      }
      .aboutcont{
       word-spacing: 1px;
          letter-spacing: 0.3px;
      }
      .aboutcont p{
            width: 300px; 
      }
      .footer p{
          width: 200px;
          font-size: 0.8rem;
          word-spacing: 1px;
          letter-spacing: 0.3px;
      }
      .social-menu ul li{
          margin:100px 6px 10px 6px;
       
      }
      .social-menu ul li .fa{
          font-size: 20px;
          line-height:30px;
      }
      .social-menu ul li a{
          width:30px;
          height:30px;
      
      }

    } 
}
